title {
    font-family: Arial, Helvetica, sans-serif;
}
h1{ 
    color: #ffffff;
    font-family: cursive;
}

p, p2, li{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
}
body {
  background: linear-gradient(45deg, rgb(0, 0, 0),rgb(0,0,0), #556423);
  }
li:hover {background-color: #686868;
    
}
li {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

/* }
.flex-container {
    display: flex;
  } */
  
  /* this selector selects all divs inside of .flex-container */
  .grid{
    background: black;
    display: grid;
  grid-template-columns: 75px 75px 75px;
  grid-template-rows: 400px 75px 75px;
  gap: 300px;
  }
  .loser {
    background-color: #82797a;
    border: 10px solid black;
    height: 30px;
  }
  .BIRTH {
    background-color: #82797a;
    border: 10px solid black;
  }
  .question {
    background-color: #82797a;
    border: 10px solid black;
    height: 30px;
  }
  
  a:any-link{color:#546026;
    font-family:Arial, Helvetica, sans-serif;   
}
.input{color: #ffffff;}

  blockquote{color: #ffffff;
    font-size: clamp(5px, 5vw, 25px);

  }
  
  .rawr {
    position: fixed;
    top: 2px;
    right: 50px;
    transform: translate(-50%, -50%);
    width: max(50px, -50vw);
  }