body {
    background-color: #00bef6;
  }
.flex-container {
display: flex;
justify-content: center; /* Center flex items horizontally */
align-items: auto; /* Center flex items vertically */
height: auto; /* Specify height */
flex-wrap: wrap;
}
.flex-item {
flex-basis: 10%;
text-align: center;
margin: 5px;
padding: 20px;
background: #48c8f5; /* Background color for visibility */
transition: border 0.1s ease-in-out;
}
.flex-item:hover { 
  border: 4px solid #5a2934;
}