title {
    font-family: Arial, Helvetica, sans-serif;
}
h1{ 
    color: #ffffff;
    font-family: cursive;
}
p, p2, li{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
}
body {
    background-color: #000000;
  }
li:hover {background-color: #686868;
    
}
li {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;

}
